extends ../layouts/app

block head
  -
    var title = "Pomotime | Simple Pomodorro timer";
    var description = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deserunt repudiandae, et fugiat tenetur placeat iure iste saepe inventore necessitatibus ad, voluptatibus debitis quod dolorem facere quas ipsam assumenda harum.";
