// Importing utils
  
@import 'utils/variables'
@import 'utils/mixins'
@import 'utils/grid'
@import 'utils/typography'

// Importing templates

@import 'templates/base' 


.timer
  @extend %flex
  flex-direction: column
  align-items: center
  padding-top: 100px
  &-display
    margin-bottom: 30px
    width: 250px
    height: 250px
    @extend %flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $lightColor--accent
    border-radius: 50%
    & span
      color: $lightColor--main
      text-align: center
    &__countdown
      font:
        size: 2.4rem
        weight: 900
      margin-bottom: 15px
    &__cycle
      font:
        size: 2.1rem
        weight: 700      
  &-duration
    @extend %flex
    margin-bottom: 30px
  &-controller     
    margin-right: 15px
    @extend %flex
    flex-direction: column
    align-items: center
    &__counter
      @extend %flex
      align-items: center
    &__button
      width: 30px
      height: 30px
      font:
        size: 2rem
        weight: 900
      cursor: pointer
      background-color: $lightColor--accent
      color: #fff                  
    &__time
      margin: 0 10px
      font:
        size: 1.8rem
        weight: 700
    &__title
      font-size: 1.6rem
      margin-bottom: 15px
  &-controls 
    @extend %flex
    align-items: center
    &__button
      cursor: pointer
      width: 30px
      height: 30px
      margin-right: 15px
      background-color: $lightColor--accent
      border-radius: 2px
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25)
      &:last-child
        margin-right: 0
      &:focus
        border: 1px solid $darkColor--main
      &-icon
        font-size: 1.6rem
        color: $lightColor--main
